{
	"semi": true,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"singleAttributePerLine": true,
	"printWidth": 120,
	"plugins": ["prettier-plugin-glsl"],
	"overrides": [
		{
			"files": ["*.frag", "*.vert", "*.glsl", "*.fs", "*.vs", "*.fsh", "*.vsh", "*.comp", "*.geom", "*.tesc", "*.tese"],
			"options": {
				"parser": "glsl-parser"
			}
		}
	]
}
