.buttons {
    position: absolute;
    mix-blend-mode: difference;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.buttons-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    
}

.buttons-left:hover {
    transform: translateY(-50%) scale(1.1) rotate(180deg);
    
}

.buttons-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 7px;
}

.buttons-right:hover {
    transform: translateY(-50%) scale(1.1);   
}

.buttons > img {
    width: 128px;
    height: 128px;
    filter: invert(1);
    user-select: none;
    mix-blend-mode: difference;
}

@media (max-width: 768px) {
    .buttons > img {
        width: 96px;
        height: 96px;
    }
}

@media (max-width: 640px) {
    .buttons > img {
        width: 64px;
        height: 64px;
    }
}