.philosophy-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.philosophy-cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}


@media (max-width: 1024px) {
    .philosophy-cards-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .philosophy-cards-grid {
        grid-template-columns: 1fr;
    }
}