.card {
    display: flex;
    gap: 1rem;
    min-height: 300px;

    border-radius: 30px;
    background-color: var(--card);
    backdrop-filter: blur(0px);
    padding: var(--padding);
    border: 2px dashed var(--background4);
    box-shadow: 0 0 10px var(--header2);

    transition: 0.3s;
}

@media (max-width: 768px) {
    .card {
        width: 95%;
        margin: 0 auto;
    }
}

/* individual styling */
.card>p {
    color: var(--background5);
}

/* topbar */
.card-topbar {
    width: 100%;
    min-height: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 1;
}

.card-topbar button {
    min-width: 32px;
    min-height: 32px;
    color: var(--background5);
}

.card-activated p {
    color: var(--background7);
}

.card-activated h3 {
    color: var(--foreground);
}
